footer {
    position: fixed;
    bottom: 0;
}
main {
    background-color: var(--green);
}
section.order-products {
    position: fixed;
    background-color: white;

    width: 80vw;
    height: fit-content;
    max-height: 80vh;
    left: 10vw;
    top: 20vh;

    border-radius: 1.9rem;
}
table {
    border: 1px solid black;
    width: 90%;
    margin: 2rem 5%;
    border-collapse: collapse;
}
th, td {
    padding: 1.2rem 0.5rem;
    border-bottom: 1px solid black;
}
table tbody td input[aria-label="Quantity"] {
    width: 2rem;
}
table tbody tr td:nth-child(1) {
    width: 70%;
}
table tbody tr td:nth-child(2) {
    width: 10%;
}
table tbody tr td:nth-child(3) {
    width: 10%;
}
table tbody tr td:nth-child(4) {
    width: 10%;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    padding: 2% 5%;
}
.contact-info>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}
.contact-info div:has(#address) {
    height: 100%;
    width: 30%;
}
.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 1.6% 10% 2% 10%;
}
form button#submit, form button#update {
    color: black;
    width: 15%;
    height: 2.2rem;

    min-width: fit-content;
    min-height: fit-content;

    font-size: 1rem;
    font-weight: 600;

    justify-self: center;
    background-color: var(--blue-pale);

    border: 2px solid black;
    border-radius: 7px;
}
form button#submit:active, form button#update:active {
    background-color: var(--blue);
}
@media only screen and (max-width: 530px) {
    form {
        font-size: 60%;
    }
}
@media only screen and (max-width: 700px) {
    form {
        font-size: 60%;
    }
}
@media only screen and (max-height: 800px) {
    .contact-info {
        padding: 2% 5%;
    }
}