:root {
    --green: #39b741;
    --green-pale: #ade5b0;
    --blue: #3970b7;
    --blue-pale: #adc5e5;
    --tan: #b78139;
    --tan-pale: #ecdac1;
    font-family: 'McLaren', sans-serif;
    font-weight: 400;
}
header {
    transform: translateY(15vh);
}

header h1 {
    margin-top: 15vh;
}

main {
    background-image: linear-gradient(to bottom in oklch,
    var(--green),
    color-mix(in srgb,
            var(--green) 75%,
            color-mix(in srgb,
                    var(--green) 60%,
                    var(--blue)
            )
    ) 40%,
    var(--blue));
    padding-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin: 1rem;
}
form>div>div {
    width: 47.5%;
}
form>div.grass-info>div {
    width: 30%;
}
form>div>div>label+select, form>div>div>label+input, form>div>label+textarea{
    width: stretch;
    resize: none;
    border: 2px solid black;
    border-radius: 7px;
}
form button.submit {
    color: black;
    width: 15%;
    height: 3rem;

    min-width: fit-content;
    min-height: fit-content;

    font-size: 1.3rem;
    font-weight: 600;

    justify-self: center;
    background-color: var(--blue-pale);

    border: 2px solid black;
    border-radius: 7px;
}
form button.submit:active {
    background-color: var(--blue);
}
