:root {
    --green: #39b741;
    --blue: #3970b7;
    --tan: #b78139;
    font-family: 'McLaren', sans-serif;
    font-weight: 400;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}
main {
    background-color: var(--green);
}
main h2 {
    margin-top: 15vh;
}